

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}



:root {

  scrollbar-color: rgba(0, 229, 255, 0.596) #1a1a1a !important;
  scrollbar-width: thin !important;
}



@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
