.SearchWholeWrapper {
    font-family: "Anjoman";
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.searchbox {
    display: flex;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 18px;
    padding: 0.7rem;
}

.searchbox input{
    background: none;
    border: none;
    outline: none;
    font-family: "Anjoman";
    color: white;
}

.searchbox svg
{
    width: 20px;
    height: 20px;

}

.searchStatus {
    text-align: center;
    color: #71767b;
    padding: 2rem 0;
    font-size: 0.95rem;
}